* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#wrapper {
  width: 685px;
  margin: 0 auto;
}

#masthead {
  text-align: center;
}

#reset{
  border: 2px solid black;
  height: 40px;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

#correct-guesses, #incorrect-guesses {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin-left: 5px;
  font-size: .9em;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

#incorrect-guesses {
  margin-bottom: 5px;
}

.conceal, .reveal {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  font-size: .8em;
  margin: 5px;
  border-radius: 3%;
  outline: none;
}

.conceal {
  color: mediumaquamarine;
  background-color: mediumaquamarine;
  cursor: pointer;
}

.reveal {
  color: white;
  background-color: lightskyblue;
}

@media (max-width: 700px) {

  #wrapper {
    width: 455px;
  }

  #masthead {
    font-size: 1.5em;
  }

  .conceal, .reveal {
    height: 62px;
    width: 62px;
    font-size: .4em;
  }

  .conceal {
    color: mediumaquamarine;
    background-color: mediumaquamarine;
    cursor: pointer;
  }

  .reveal {
    color: white;
    background-color: lightskyblue;
  }

  #reset{
    height: 40px;
    width: 100px;
    font-size: .7em;
  }
}

@media (max-width: 485px) {
  #wrapper {
    width: 340px;
  }

  #masthead {
    font-size: 20px;
  }

  #correct-guesses, #incorrect-guesses {
    font-size: .8em;
  }

  .conceal, .reveal {
    height: 44px;
    width: 44px;
    font-size: 6px;
    margin: 4px;
  }

  .conceal {
    color: mediumaquamarine;
    background-color: mediumaquamarine;
    cursor: pointer;
  }

  .reveal {
    color: white;
    background-color: lightskyblue;
  }

  #reset{
    height: 35px;
    width: 80px;
    font-size: .6em;
  }
}
