* {
  box-sizing: border-box;
  font-family: sans-serif;
}
#masthead {
  /*border: 1px solid blue;*/
  margin-top: 2%;
  text-align: center;
}
#wrapper {
  /*border: 1px solid green;*/
  height: 30%;
  width: 60%;
  margin-top: 3%;
  margin: 0 auto;
}
.panels{
  border: 1px solid gray;
  float: left;
  display: block;
  height: 100px;
  width: 100px;
  padding: 1%;
  text-align: center;
  font-size: .8em;
  margin: 5px 5px 5px 8px;
  border-radius: 3%;
}
